body {
    margin: 0;
    text-align: center;
}

.hero {
    background: #6943FF;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 800px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    padding: 30px;
}

.convert-btn {
    background: #FFFFFF;
    color: #3D3D3D;
    width: 117px;
    height: 42px;
    top: 209px;
    left: 217px;
    padding: 9px, 27.5px, 9px, 27.5px;
    border-radius: 5px;
    border: 0px solid #FFFFFF;
    margin: 25px;
}

.input {
    width: 117px;
    height: 83px;
    top: 101px;
    left: 217px;
    border-radius: 5px;
    border: 2px;

}
.container {
    background: #1F2937;
    padding: 10px 10px;
    
}
.section1, .section2, .section3 {
    color: #FFFFFF;
    background: #273549;
    padding: 20px 10px;
    margin: 25px;
    border-radius: 4.68px, 0px, 0px, 0px;
}
 
h3{
    color: #CCC1FF;
}



